
<%inherit file="menu.html"/>

<%block name="head_block">
    <title>Pocket Scanner</title>
</%block>

<%block name="body_block">
    <h1>Host Detail</h1>
    <br/>
    % if n:
    <h3>${n.name} - ${n.addr}</h3>
    <br/>
    <div>
        <table>
            <tr>
                <th>Host</th>
                <th>Open Ports</th>
            </tr>
        % for h in hosts:
            <%
                from . import sqldriver
                count = 0
                for p in sqldriver.read(Port, host_id=h.id):
                    if p.port_stat == 'OPEN':
                        count += 1
            %>
            % if count > 0:
            <tr>
                <td><a href="/host/${h.id}">${h.addr}</a></td>
                <td>${count}</td>
            </tr>
            % endif
        % endfor
        </table>
    </div>
    <a href="/update/network/${n.id}">Scan Network</a><br>
    <a href="/report/${n.id}">Report Network</a><br>
    <a href="/delete/network/${n.id}">Delete Network</a>
    % endif
</%block>
