<%inherit file="menu.html"/>

<%block name="head_block">
    <title>Pocket Scanner</title>
</%block>

<%block name="body_block">
    <h1>Host Detail</h1>
    <br/>
    <h3>${host.name} - ${host.addr}</h3>
    <br/>
    <div>
        ${host.addr}
        ${host.id}
        ${host.network_id}
        <table>
            <tr>
                <th>Port Number</th>
                <th>Port Status</th>
            </tr>
        % for port in ports:
            <tr>
                <td>${port.port_num}</td>
                <td>${port.port_stat}</td>
            </tr>
        % endfor
        </table>
    </div>
    <a href="/delete/host/${host.id}">Delete Host</a>
</%block>
