<%inherit file="menu.html"/>

<%block name="head_block">
    <title>Pocket Scanner</title>
</%block>

<%block name="body_block">
    <h1>${c.__name__.capitalize()} List</h1>
    <br/>
    <div>
        % for k, v in c.__dict__.items():
            <a href="/network/${n.id}">${n.name} - ${n.addr}</a>
        % endfor
    </div>
    <br/>
    <div>
        <h3>Add ${c.__name__.capitalize()}</h3>
        <form action="/many/${c.__name__}" method="post">
            <label for="name">${c.__name__.capitalize()} Name</label>
            <input type="text" name="name" id="name"/>
            <label for="addr">${c.__name__.capitalize()} Address (x.x.x.x/xx)</label>
            <input type="text" name="addr" id="addr"/>
            <input type="submit" value="Submit"/>
        </form>
    </div>
</%block>
